@font-face {
font-family: 'Noto Naskh Arabic', serif;
src: url('../fonts/Mj_Ashgar.eot');
src: url('../fonts/Mj_Ashgar.woff') format('woff');
url('../fonts/Mj_Ashgar.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
body{
font-family: "Mj_Ashgar";
}
